@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  background-color: rgba(240, 240, 240, 1);

  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
}

.right-links,
.left-links {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: gray;
}

li {
  list-style: none;
  padding: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.8rem;
  font-weight: 500;
}
